.buy{
  margin-bottom: 70px;
} 

.buy__inner{
  @include flex-starter;
}

.buy__box{
  width: 100%;
  max-width: 450px;
}

.buy__title{
  margin: 0;
  margin-bottom: 30px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 50px;
  line-height: 60px;
  color: #000000;
}

.buy__text{
  margin: 0;
  margin-bottom: 30px;
  padding-left: 40px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #777777;
  border-left: 3px solid #888888;
} 

.buy__link{
  display: inline-block;
  padding: 12px 90px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 27px;
  text-decoration: none;
  color: #FFFFFF;
  background-color: #EA625C;
}

.buy__img-box{
  margin-left: auto;
}

@media only screen and (max-width: 520px) {

  .buy__inner{
    flex-direction: column;
  }

  .buy__box{
    order: 1;
  }

  .buy__title{
    font-size: 46px;
  }

  .buy__text{
    font-size: 16px;
  }

  .buy__link{
    padding: 10px 67px;
    font-size: 13px;
  }

  .buy__img-box{
    margin-right: auto;
    margin-bottom: 41px;
    margin-left: auto;
  }
}