.site-footer{
  background-image: url("../images/footer-bgi.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
}

.footer__box{
  width: 100%;
  max-width: 450px;
  margin-left: auto;
  padding: 240px 0 239px;
}

.footer__title{
  display: block;
  margin-bottom: 30px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 50px;
  line-height: 60px;
  color: #FFFFFF;
}

.footer__text{
  margin: 0;
  margin-bottom: 30px;
  padding-left: 40px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #FFFFFF;
  border-left: 3px solid #FFFFFF;
}

.footer__link{
  display: inline-block;
  padding: 12px 46px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 27px;
  text-decoration: none;
  color: #FFFFFF;
  background-color: #EA625C;
}


@media only screen and (max-width: 520px) {

  .footer{
    background-image: url("../images/footer-tel-bgi.jpg");
    background-size: 100%;
  }

  .footer__box{
    padding: 96px 0 106px;
  }

  .footer__title{
    font-size: 46px;
  }

  .footer__text{
    font-size: 14px;
  }

  .footer__link{
    padding: 6px 12px;
  }
}