.site-header{
  margin-bottom: 49px;
  padding: 30px 0;
}

.header__box{
  @include flex-starter;
}

.header__logo-link{
  display: inline-block;
  text-decoration: none;
}

.header__inner{
  margin-left: auto;
}

.header__list{
  @include flex-starter;
  @include list-global;
}

.header__item{
  margin-right: 30px;

  &:nth-child(4){
    margin-right: 40px;
  }

  &:nth-child(5){
    margin-right: 0;
  }
}

.header__link{
  display: inline-block;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 22px;
  text-decoration: none;
  color: #333333;
}

.header__item:nth-child(5) > .header__link{
  padding-bottom: 6px;
  color: #666666;
  border-bottom: 1px solid #333333;
}

.header__hamburger{
  display: none;
  margin-left: auto;
  font-size: 35px;
}


@media only screen and (max-width: 520px) {
  
  .header{
    margin-bottom: 30px;
  }

  .header__inner{
    display: none;
  }

  .header__hamburger{
    display: block;
  }

}