.hero{
  margin-bottom: 100px;
  padding: 91px 0 185px;
  background-image: url("../images/hero-bgi.png");
  background-repeat: no-repeat;
  background-size: 587px 565px;
  background-position: calc(50% + 540px) bottom;
  border-bottom: 2px solid #DDDDDD;
}

.hero__box{
  width: 100%;
  max-width: 470px;
}

.hero__title{
  margin: 0;
  margin-bottom: 30px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 50px;
  line-height: 60px;
  color: #000000;
}

.hero__text{
  margin: 0;
  margin-bottom: 30px;
  padding-left: 40px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #777777;
  border-left: 3px solid #888888;
}

.hero__link{
  display: inline-block;
  padding: 12px 38px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 27px;
  text-decoration: none;
  color: #FFFFFF;
  background-color: #EA625C;
}

@media only screen and (max-width: 520px) {

  .hero{
    padding: 408px 0 35px;
    background-size: 392px 378px;
    background-position: calc(50% + 150px) top;
    border-bottom: none;
  }

  .hero__title{
    font-size: 46px;
  }

  .hero__text{
    font-size: 14px;
  }

  .hero__link{
    font-size: 14px;
  }
}