.info{
  margin-bottom: 70px;
  padding: 70px 0 0;
}

.carousel-inner{
  display: flex;
  align-items: flex-start;
  flex-wrap: nowrap;
}

.info-inners{
  width: 100%;
  max-width: 280px;
  margin-right: 80px;

  &:nth-child(3){
    margin-right: 0;
  }
}

.info-title{
  margin: 0;
  margin-bottom: 30px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 27px;
  color: #222222;
}

.info-text{
  margin: 0;
  margin-bottom: 20px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: #333333;
}

.info-box{
  @include flex-starter;
}

.info-rectangle{
  display: inline-block;
  width: 8px;
  height: 8px;
  margin-right: 10px;
  background-color: #DDDDDD;

  &:nth-child(3){
    margin-right: 0;
  }
}

.info-line{
  display: inline-block;
  width: 40px;
  height: 3px;
  margin-right: 10px;
  background-color: #EA625C;
}

.info-link{
  display: inline-block;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 26px;
  text-decoration: none;
  color: #EA625C;
}

@media only screen and (max-width: 520px) {

  .info-inners{
    padding: 15px;
    background-color: #F5F5F5;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.06);
    border-radius: 2px;
  }
}